<ion-header>
    <ion-title></ion-title>
</ion-header>

<ion-content padding>
  <ion-row>
    {{owner.nickName}} <span  class="right">MY CV tms.</span>
  </ion-row>
  <ion-row>
      {{owner.age}} <span  class="right"></span>
    </ion-row>
    <ion-row>
        {{owner.description}} <span  class="right"></span>
      </ion-row>
      <ion-row>
          {{owner.email}} <span *ngIf="CV"  class="right">{{CV.date}}</span>
        </ion-row>
    <ion-grid *ngFor="let element of certificates">
  <ion-item id="clabel" *ngFor="let certificate of element | async; let k = index">
    <h3>{{certificate.data.title}} </h3>
    <!--Arrayn elementti kerrallaan-->
    <div *ngFor="let file of certificate.data.imgurls; let i = index">
        <ion-card  class="other">
                <img *ngIf="file" src="{{file}}" alt="ei toimi" class="img-responsive"/>
        </ion-card>
    </div>
    
    <div *ngFor="let file of certificate.data.videourls; let i = index">
        <ion-card  class="other">
            <ion-card-content>
                <video *ngIf="file" controls="controls" preload="metadata" autoplay="autoplay"
                       webkit-playsinline="webkit-playsinline" class="videoPlayer">
                    <source [attr.src]="file" type="video/mp4"/>
                </video>
            </ion-card-content>
        </ion-card>
    </div>
    <div *ngFor="let file of certificate.data.audiourls; let i = index">
        <ion-card  class="other">
            <ion-card-content>
                <audio *ngIf="file" controls>
                    <source [attr.src]="file" type="audio/mpeg">
                </audio>
            </ion-card-content>
        </ion-card>
    </div>
</ion-item>
</ion-grid>
</ion-content>
