.right {
    text-align: right;
}
.profilePic{
    overflow: hidden;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: left;
  object-fit: cover;
  margin-bottom: 10px;
  margin-right: 10px;
}
.skillPic{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mediaContainer{
    width:150px;
    margin-right: 5px;
    margin-left:-15px;
}
video{
    object-fit: cover;
}