<ion-header>
    <ion-title></ion-title>
</ion-header>

<ion-content>

   
    <ion-fab horizontal="end" class="exit">
        <ion-back-button defaultHref="home"></ion-back-button>
    </ion-fab>
    
      
        <ion-list style="margin-top:25px">
                <ion-item>
                    <ion-img class="profilePic" [src]="owner.photoURL"></ion-img>
                  <ion-label>
                    <h2>{{owner.nickName}}</h2>
                    <h3>{{owner.age}}</h3>
                    <h3>{{owner.email}}</h3>
                    <h3>{{owner.description}}</h3>
                  </ion-label>
                </ion-item>
              </ion-list>
<!--
  <ion-row style="margin-top:50px">
  Name: {{owner.nickName}} <span  class="right"></span>
  </ion-row>
  <ion-row>
    Age: {{owner.age}} <span  class="right"></span>
    </ion-row>
    <ion-row>
     {{owner.description}} <span  class="right"></span>
      </ion-row>
      <ion-row>
          E-mail: {{owner.email}} <span *ngIf="CV"  class="right">{{CV.date}}</span>
        </ion-row> -->
        
    <ion-grid  *ngFor="let element of certificates">
  <ion-item id="clabel" *ngFor="let certificate of element | async; let k = index">
    <!--Arrayn elementti kerrallaan-->
    <ion-list>
    <div class="mediaContainer" *ngFor="let file of certificate.data.imgurls; let i = index">
                <img *ngIf="file" src="{{file}}" alt="ei toimi" class="skillPic"/> 
    </div>
</ion-list>
    <div *ngFor="let file of certificate.data.videourls; let i = index">
        <ion-list>
            <div class="mediaContainer">
                <video width="100%" *ngIf="file" controls="controls" preload="metadata" autoplay="autoplay"
                       webkit-playsinline="webkit-playsinline" class="videoPlayer">
                    <source [attr.src]="file" type="video/mp4"/>
                </video>
            </div>
            </ion-list>
    </div>
    <div *ngFor="let file of certificate.data.audiourls; let i = index">
            <ion-list>
                <audio class="mediaContainer" *ngIf="file" controls>
                    <source [attr.src]="file" type="audio/mpeg">
                </audio>
            </ion-list>
    </div>
    <div>
    <ion-list>
        <ion-label>
    <h2 text-wrap>{{certificate.data.title}} </h2>
    <p text-wrap>{{certificate.data.text}}</p>
</ion-label>
</ion-list>
</div>
</ion-item>
</ion-grid>
</ion-content>
