:root {
  --ion-color-danger: #c33a32 !important;
  --background-color: red !important;
}

.grid{
   display: flex !important;
   justify-content: center !important;
   align-items: center !important;
  
   height: 100%;
   width: 90%;
 }
.error{
  text-align: center;
  color: #007cff;
}

ion-button ion-icon {
  position: absolute;
  left: 20px;
}
#ion-color-danger{
  background-color: #c33a32 !important;
  text-transform: none;
}
#fb{
  background-color: #3b5998 !important;
  text-transform: none;
}
#login{
  text-transform: none;
}
#register{
  text-transform: none;
}

.imgbox{
  display: flex;
  height: 200px !important;
}

.logo{
  height: 100% !important;
}

