<ion-header>
    <ion-toolbar>
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid class="grid">
        <ion-col>
            <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input type="text" [(ngModel)]="user.email">
                    <ion-icon name="at" item-left></ion-icon>
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" [(ngModel)]="user.password">
                    <ion-icon name="lock" item-left></ion-icon>
                </ion-input>
            </ion-item>

            <ion-button id="login" expand="full" style="margin-top: 25px;" (click)="login(user)" icon-start><ion-icon name="log-in"></ion-icon>Login</ion-button>
            <ion-button id="register" expand="full" (click)="register()" icon-start><ion-icon name="document"></ion-icon>Register</ion-button>
            <ion-button id="ion-color-danger" color="ion-color-danger" expand="full" (click)="googleLogin()" icon-start><ion-icon name="logo-google"></ion-icon>Sign in with Google</ion-button>
            <ion-button id="fb" color="fb" expand="full" (click)="facebookLogin()" icon-start><ion-icon name="logo-facebook"></ion-icon>Sign in with Facebook</ion-button>
            <ion-card *ngIf="message" position="floating">
                <ion-card-header class="error">{{message}}</ion-card-header>
            </ion-card>
        </ion-col>
    </ion-grid>

</ion-content>