* {
    //font-family: 'Rubik', sans-serif;
    //font-family: 'Work Sans', sans-serif;
  }
  
  
  .topButton{
    margin-top: 15px;
  }
  li {
    list-style: none;
  }
  
  #grey{
    background: #33a6d4;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .other{
    background: #0f619c;
  }
  textarea {
    resize: both;
  }
  .delete {
    position: absolute;
    z-index: 3;
  }
  .buttonz{
    display: flex;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px;
  }
  .content{
    --background: #0f619c;
  
  }
  .background{
    background: #35a6d4;
    color: black;
  }

  .max{
    overflow: hidden;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: left;
    object-fit: cover;
    margin: 10%;
  }
  .smaller{
    width: 40px;
    height: 40px;
    --padding-start: 4px;
  }
  #listlabel{
    background: #33a6d4;
    color: white;
  }
  .ellipsis{
    color: #c7eeff;
    text-align: right;
  }
  .justify{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5em;
  }
  .alignbutton{
    display: flex;
    flex-direction: row-reverse;
  }
  
  .share{
    text-align: center;
  }
  
  #del{
    text-transform: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  #save{
    text-transform: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  