<ion-content class="content">

    <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button class="topButton" (click)="closeModal()">
            <ion-icon name="close"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-grid class="grid">
        <ion-col>
            <ion-button class="topButton" *ngIf="!editMode" (click)="toggleReadOnly()">
                <ion-icon name="create"></ion-icon>
            </ion-button>
            <li>
                <ion-card id="grey">
                    <ion-card-header>
                        <ion-row class="row">
                            <ion-col size="1" align-self-center>
                                <ion-icon style="font-size: 15px; font-weight: 600; color: white;" name="time"></ion-icon>
                            </ion-col>
                            <ion-col size="10" align-self-center>
                                <p style="color: white;">{{ pageData?.date?.toDate() | date:'medium'}}</p>
                            </ion-col>
                        </ion-row>
                        <ion-card-title>
                            <ion-input style="color: white;" class="input" spellcheck="false" [(ngModel)]="title" required [readonly]="isReadOnly"
                                [ngModelOptions]="{standalone:true}"></ion-input>
                        </ion-card-title>
                    </ion-card-header>
                    <div *ngFor="let file of imageSources, let i = index;">
                        <ion-card [@slideInOut]="animationStates[i]" class="other">
                            <ion-button class="delete" *ngIf="editMode" (click)="confirmChanges(i, 'Delete?')">
                                <ion-icon name="close"></ion-icon>
                            </ion-button>
                            <!-- <ion-card-content (click)="minimize(i)">-->
                            <img *ngIf="file?.imgsrc" (click)="minimize(i)" src="{{file?.imgsrc}}" alt="ei toimi" class="img-responsive" />
                            <!--</ion-card-content>-->
                        </ion-card>
                    </div>
                    <div *ngFor="let file of videoSources, let i = index;">
                        <ion-card [@slideInOut]="animationStates[i]" class="other">
                            <ion-button class="delete" *ngIf="editMode" (click)="confirmChanges(i, 'Delete?')">
                                <ion-icon name="close"></ion-icon>
                            </ion-button>
                            <ion-card-content>
                                <video *ngIf="file?.videosrc" controls="controls" preload="metadata" autoplay="autoplay"
                                    webkit-playsinline="webkit-playsinline" class="videoPlayer">
                                    <source [attr.src]="file?.videosrc" type="video/mp4" />
                                </video>
                            </ion-card-content>
                        </ion-card>
                    </div>
                    <div *ngFor="let file of audioSources, let i = index;">
                        <ion-card [@slideInOut]="animationStates[i]" class="other">
                            <ion-button class="delete" *ngIf="editMode" (click)="confirmChanges(i, 'Delete?')">
                                <ion-icon name="close"></ion-icon>
                            </ion-button>
                            <ion-card-content>
                                <audio *ngIf="file?.audiosrc" controls>
                                    <source [attr.src]="file?.audiosrc" type="audio/mpeg">
                                </audio>
                            </ion-card-content>
                        </ion-card>
                    </div>
                    <ion-card-content>
                        <ion-textarea style="color: white;" autosize spellcheck="false" class="input" required [readonly]="isReadOnly"
                            [(ngModel)]="text" [ngModelOptions]="{standalone:true}"></ion-textarea>
                    </ion-card-content>
                </ion-card>
                <div class="buttonz" [@buttons]="editMode">
                    <ion-button *ngIf="editMode" color="primary" ion-button block (click)="updateCertificate(this.cid)">Save
                        Changes
                    </ion-button>
                    <ion-button *ngIf="editMode" color="danger" ion-button block (click)="confirmDelete('Delete this document?')">Delete
                        post
                    </ion-button>
                </div>

                <div *ngIf="editMode">
                    <ion-item>
                        <ion-label style="color: white;">Jaa Mentorille</ion-label>
                        <ion-checkbox (ionChange)="pickMentors()"></ion-checkbox>
                    </ion-item>
                </div>

                <ion-list id="userlist" [@slide]="identifier">
                    <ion-item id="listlabel" *ngFor="let mentor of data?.friendList; let i = index">
                        <ion-row align-self-center style="width: 100%;" *ngIf="mentor?.receiver">
                            <ion-col size="3" align-self-center>
                                <ion-checkbox *ngIf="mentor" (ionChange)="pickMentor(mentor?.receiver)"></ion-checkbox>
                            </ion-col>
                            <ion-col size="2" align-self-center>
                                <ion-img class="max smaller" [src]=mentor?.receiverPhotoURL></ion-img>
                            </ion-col>
                            <ion-col size="5" align-self-center>
                                <ion-label>{{mentor?.receiverNickname}}</ion-label>
                            </ion-col>
                        </ion-row>
                        <ion-row align-self-center style="width: 100%;" *ngIf="mentor?.sender">
                            <ion-col size="3" align-self-center>
                                <ion-checkbox *ngIf="mentor" (ionChange)="pickMentor(mentor?.sender)"></ion-checkbox>
                            </ion-col>
                            <ion-col size="2" align-self-center>
                                <ion-img class="max smaller" [src]=mentor?.senderPhotoURL></ion-img>
                            </ion-col>
                            <ion-col size="5" align-self-center>
                                <ion-label>{{mentor?.senderNickname}}</ion-label>
                            </ion-col>
                        </ion-row>
                        <div *ngIf="data?.friendList.length < 1">
                            <p>No mentors found</p>
                        </div>
                    </ion-item>
                </ion-list>

            </li>
        </ion-col>

    </ion-grid>

</ion-content>