<ion-content class="content">

    <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button (click)="closeModal()">
            <ion-icon name="close"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-grid class="grid">
        <ion-col>
            <li>
                <ion-card id="grey">
                    <ion-card-header>
                        <ion-row class="row">
                            <ion-col>
                                <ion-icon style="font-size: 15px; font-weight: 600" name="time"></ion-icon>
                                {{ pageData?.date?.toDate() | date:'medium'}}
                            </ion-col>
                        </ion-row>
                        <ion-card-title>
                            <h1>{{pageData?.title}} </h1>
                        </ion-card-title>
                    </ion-card-header>
                    <div *ngFor="let file of imageSources, let i = index;">
                        <ion-card [@slideInOut]="animationStates[i]" class="other">
                            <ion-card-content (click)="minimize(i)">
                                <img *ngIf="file?.imgsrc" src="{{file?.imgsrc}}" alt="ei toimi" class="img-responsive"/>
                            </ion-card-content>
                        </ion-card>
                    </div>
                    <div *ngFor="let file of videoSources, let i = index;">
                        <ion-card [@slideInOut]="animationStates[i]" class="other">
                            <ion-card-content>
                                <video *ngIf="file?.videosrc" controls="controls" preload="metadata" autoplay="autoplay"
                                       webkit-playsinline="webkit-playsinline" class="videoPlayer">
                                    <source [attr.src]="file?.videosrc" type="video/mp4"/>
                                </video>
                            </ion-card-content>
                        </ion-card>
                    </div>
                    <div *ngFor="let file of audioSources, let i = index;">
                        <ion-card [@slideInOut]="animationStates[i]" class="other">
                            <ion-card-content>
                                <audio *ngIf="file?.audiosrc" controls>
                                    <source [attr.src]="file?.audiosrc" type="audio/mpeg">
                                </audio>
                            </ion-card-content>
                        </ion-card>
                    </div>
                    <ion-card-content>
                        <p> {{pageData?.text}}</p>
                    </ion-card-content>
                </ion-card>
            </li>
        </ion-col>
    </ion-grid>
</ion-content>