<ion-content class="content">

    <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button class="topButton" (click)="closeModal()">
            <ion-icon name="close"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-grid class="grid">
        <ion-col>
            <ion-button class="topButton" *ngIf="!editMode" (click)="toggleReadOnly()">
                <ion-icon name="create"></ion-icon>
            </ion-button>
            <li>
                <ion-card id="grey">
                    <ion-card-header>
                        <ion-row class="row">
                            <ion-col>
                                <ion-icon style="font-size: 15px; font-weight: 600" name="time"></ion-icon>
                                {{ pageData?.date?.toDate() | date:'medium'}}
                            </ion-col>
                        </ion-row>
                        <ion-card-title>
                            <ion-input class="input" spellcheck="false" [(ngModel)]="title" required [readonly]="isReadOnly"
                                [ngModelOptions]="{standalone:true}"></ion-input>
                        </ion-card-title>
                    </ion-card-header>
                    <div *ngFor="let file of imageSources, let i = index;">
                        <ion-card [@slideInOut]="animationStates[i]" class="other">
                            <ion-button class="delete" *ngIf="editMode" (click)="confirmChanges(i, 'Delete?')">
                                <ion-icon name="close"></ion-icon>
                            </ion-button>
                            <!-- <ion-card-content (click)="minimize(i)">-->
                            <img *ngIf="file?.imgsrc" (click)="minimize(i)" src="{{file?.imgsrc}}" alt="ei toimi" class="img-responsive" />
                            <!--</ion-card-content>-->
                        </ion-card>
                    </div>
                    <div *ngFor="let file of videoSources, let i = index;">
                        <ion-card [@slideInOut]="animationStates[i]" class="other">
                            <ion-button class="delete" *ngIf="editMode" (click)="confirmChanges(i, 'Delete?')">
                                <ion-icon name="close"></ion-icon>
                            </ion-button>
                            <ion-card-content>
                                <video *ngIf="file?.videosrc" controls="controls" preload="metadata" autoplay="autoplay"
                                    webkit-playsinline="webkit-playsinline" class="videoPlayer">
                                    <source [attr.src]="file?.videosrc" type="video/mp4" />
                                </video>
                            </ion-card-content>
                        </ion-card>
                    </div>
                    <div *ngFor="let file of audioSources, let i = index;">
                        <ion-card [@slideInOut]="animationStates[i]" class="other">
                            <ion-button class="delete" *ngIf="editMode" (click)="confirmChanges(i, 'Delete?')">
                                <ion-icon name="close"></ion-icon>
                            </ion-button>
                            <ion-card-content>
                                <audio *ngIf="file?.audiosrc" controls>
                                    <source [attr.src]="file?.audiosrc" type="audio/mpeg">
                                </audio>
                            </ion-card-content>
                        </ion-card>
                    </div>
                    <ion-card-content>
                        <ion-textarea autosize spellcheck="false" class="input" required [readonly]="isReadOnly"
                            [(ngModel)]="text" [ngModelOptions]="{standalone:true}"></ion-textarea>
                    </ion-card-content>
                </ion-card>
                <div class="buttonz" [@buttons]="editMode">
                    <ion-button *ngIf="editMode" color="primary" ion-button block (click)="updateCertificate(this.cid)">Save
                        Changes
                    </ion-button>
                    <ion-button *ngIf="editMode" color="danger" ion-button block (click)="confirmDelete('Delete this document?')">Delete
                        post
                    </ion-button>
                </div>

                <div *ngIf="editMode">
                    <ion-item>
                        <ion-label>Jaa Mentorille</ion-label>
                        <ion-checkbox (ionChange)="pickMentors()"></ion-checkbox>
                    </ion-item>
                </div>

                <ion-list id="userlist" [@slide]="identifier">

                    <ion-item id="listlabel" *ngFor="let mentor of friends | async; let i = index">
                        <ion-checkbox (ionChange)="pickMentor(mentor.data.uid)"></ion-checkbox>
                        <ion-label>{{mentor.data.nickName}} {{mentor.data.email}}</ion-label>
                    </ion-item>
                    <!--  <div *ngIf="mentors?.length < 1 && mentorTrue">
                            <p>No mentors found</p>
                        </div>-->

                </ion-list>
            </li>
        </ion-col>

    </ion-grid>

</ion-content>