<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Profile</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content padding>


    <form #formCtrl="ngForm">
        <div align="center" *ngIf="formCtrl.form.valid">

            <h1>{{data.user.nickName}}</h1>
            <img class="profile-image" src="https://i.redd.it/coiddgklw4301.jpg">
            <h4> {{data.user.description}}</h4>
            <h5>{{data.user.age}} years old</h5>
        </div>
        <ion-list>
            <ion-item>
                <ion-label>Name</ion-label>
                <ion-input class="input" [(ngModel)]="nickName" required [readonly]="isReadOnly" [ngModelOptions]="{standalone:true}"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>City</ion-label>
                <ion-input class="input" [(ngModel)]="description" required [readonly]="isReadOnly" [ngModelOptions]="{standalone:true}"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label >Birth Date</ion-label>
                <ion-datetime class="input" required name="birthdate" displayFormat="DD MMM YYYY" pickerFormat="DD MMM YYYY" [(ngModel)]="dob" [disabled]="isReadOnly" [ngModelOptions]="{standalone:true}"></ion-datetime>
            </ion-item>

        </ion-list>
        <ion-button *ngIf="editMode" expand="full" color="danger" [disabled]="!formCtrl.form.valid" ion-button block (click)="updateUserDoc(this.data.user)">Save Changes</ion-button>
        <ion-button *ngIf="!editMode" expand="full" color="secondary" [disabled]="!formCtrl.form.valid" ion-button block (click)="toggleReadOnly()">Edit profile</ion-button>
    </form>
</ion-content>