<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Profile</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content padding class="background">

    
    <form #formCtrl="ngForm">
            <ion-card class="profileCard">  
        <ion-grid *ngIf="formCtrl.form.valid">
            <ion-row>
                <ion-col size="4" class="image-container">
                    <label for="input1" class="file-label">
                        <img  *ngIf="data?.user?.photoURL" id="profilepic" class="profile-image"  [src]=data.user.photoURL>
                        <ion-row>
                            <ion-col size="5">
                                <ion-button color="success" *ngIf="uploadTrue" (click)="upload()" class="button1">
                                    <ion-icon name="checkmark"></ion-icon>
                                </ion-button>
                            </ion-col>
                            <ion-col size="5">
                                <ion-button color="danger" *ngIf="uploadTrue" (click)="cancel()" class="button2">
                                    <ion-icon name="close"></ion-icon>
                                </ion-button>
                            </ion-col>
                        </ion-row>
                    </label>
                    <input class="file-input" id="input1" type="file" [disabled]="!inputField" (change)="defineUpload($event)"
                           accept=".png, .jpg">
                </ion-col>
                <ion-col size="8" class="profile-details">
                    <p>{{data.user.nickName}}</p>
                    <p> {{data.user.description}}</p>
                    <p>{{data.user.age}} years old</p>
                </ion-col>
            </ion-row>

        </ion-grid>
        <ion-list class="profileCard1" [@slideInOut]="editProfile">
            <ion-item>
                <ion-label>Name</ion-label>
                <ion-input class="input" [(ngModel)]="nickName" required [readonly]="isReadOnly"
                           [ngModelOptions]="{standalone:true}"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>City</ion-label>
                <ion-input class="input" [(ngModel)]="description" required [readonly]="isReadOnly"
                           [ngModelOptions]="{standalone:true}"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Birth Date</ion-label>
                <ion-datetime class="input" required name="birthdate" displayFormat="DD MMM YYYY"
                              pickerFormat="DD MMM YYYY" [(ngModel)]="dob" [disabled]="isReadOnly"
                              [ngModelOptions]="{standalone:true}"></ion-datetime>
            </ion-item>
        </ion-list>
        <ion-button *ngIf="editMode" expand="full" color="danger" [disabled]="!formCtrl.form.valid" ion-button block
                    (click)="updateUserDoc(this.data.user)">Save Changes
        </ion-button>
        <ion-button *ngIf="!editMode" expand="full" color="secondary" [disabled]="!formCtrl.form.valid" ion-button block
                    (click)="toggleReadOnly()">Edit profile
        </ion-button>
    </ion-card>
    </form>
</ion-content>