<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Profile</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-avatar class="avatar" item-start>
                <img src="https://i.redd.it/coiddgklw4301.jpg">
            </ion-avatar>
            <ion-label padding>
                    <h3>{{ data.user.nickName}}</h3>
                    <h3>{{ data.user.description}}</h3>
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-item>
        <ion-label position="floating">Nickname</ion-label>
        <ion-input type="text" [(ngModel)]="nickName"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-input type="text" [(ngModel)]="description"></ion-input>
    </ion-item>
    <ion-button expand="full"  (click)="updateUserDoc(this.data.user)">Update profile</ion-button>
</ion-content>
