.content{

}
.grid{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 100%;
  width: 80%;
}
.buttons{
  margin-top: 10%;
  justify-content: center !important;
  align-items: center !important;
}
.close{
  justify-content: start !important;
  align-items: end!important;
}
.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  background: white;
  margin: 10px 0;
}
progress::-webkit-progress-value {
  transition: width 0.01s ease;
}

img {
  width: 250px;
}