<ion-content class="content">
    <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button (click)="closeModal()">
            <ion-icon name="close"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-grid class="grid">
        <ion-col>
            <ion-list>
                <ion-input clearInput placeholder="Otsikkosi" [(ngModel)]="title"></ion-input>
                <ion-textarea clearInput placeholder="Kerro vielä tarkemmin!" [(ngModel)]="query"></ion-textarea>
                <ion-row class="buttons">
                    <ion-button (click)="upload()">
                        <ion-icon name="attach"></ion-icon>
                    </ion-button>
                    <ion-button (click)="update()">
                        <ion-icon name="send"></ion-icon>
                    </ion-button>
                </ion-row>
            </ion-list>
            <ion-item [@slideInOut]="uploadFiles" class="dropzone"
                      dropZone
                      (hovered)="toggleHover($event)"
                      (dropped)="startUpload($event)"
                      [class.hovering]="isHovering">



                    <ion-label class="file-label">
                        <input class="file-input" type="file" (change)="startUpload($event.target.files)">
                    </ion-label>

                <ion-item *ngIf="percentage | async as pct">

                    <progress class="progress is-info"
                              [value]="pct"
                              max="100">
                    </progress>

                    {{ pct | number }}%

                </ion-item>
            </ion-item>
        </ion-col>

    </ion-grid>

</ion-content>
