<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="signOut()">Sign out
                <ion-icon name="log-out"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-searchbar value="" id="searchbar" placeholder="Search" mode="md" spellcheck="false" color="light" debounce="250"
            (ionChange)="search($event)" showCancelButton="false">
        </ion-searchbar>
    </ion-toolbar>
</ion-header>
<ion-content padding class="background">
    <ion-fab *ngIf="!inputTrue" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="presentModal()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-button id="listhost" *ngIf="identifier && !searchTrue" expand="full" (click)="showAllUsers()">Show All Users</ion-button>
    <ion-button *ngIf="searchTrue" expand="full" (click)="cancelSearch()">Cancel Search</ion-button>
    <ion-list id="userlist" [@slideInOut]="identifier">
        <ion-item id="listlabel" *ngFor="let user of data.users">
            <ion-label>{{user?.nickName}} {{user?.email}}</ion-label>
        </ion-item>
        <div *ngIf="data?.users?.length < 1 && searchTrue">
            <p>No users found</p>
        </div>
    </ion-list>
    <ul class="inline" *ngIf="!query">
        <li *ngFor="let certificate of certificates | async; let i = index" (click)="presentCertificate(certificate.id)">
            <ion-card class="white">
                <div *ngIf="certificate?.data?.downloadURLs?.length > 0">
                    <ion-row>
                        <ion-col size="4">
                            <ion-img class="max" [src]="certificate.data.downloadURLs[0]"></ion-img>
                        </ion-col>
                        <ion-col class="cerText" size="8">
                            <ion-text>
                                <h4>{{certificate.data.title}} </h4>
                            </ion-text>
                        </ion-col>
                    </ion-row>
                </div>
            </ion-card>
        </li>
    </ul>
</ion-content>