<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button id="listhost" *ngIf="!searchTrue" (click)="showAllUsers()">
                <ion-icon name="people"></ion-icon>
            </ion-button>
            <ion-button *ngIf="searchTrue" (click)="cancelSearch()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
            <ion-button class="logbox" (click)="signOut()">
                <ion-icon name="log-out"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-searchbar value="" id="searchbar" placeholder="Search" mode="md" spellcheck="false" color="light"
            (ionChange)="search($event)" showCancelButton="false">
        </ion-searchbar>
    </ion-toolbar>
    <ion-list id="userlist" *ngIf="showList">
        <ion-item class="listlabel" *ngFor="let user of data.users, let i = index">
            <ion-label>
                <ion-grid fix class="searchbox">
                    <ion-row align-items-start style="overflow: hidden">
                        <ion-col size="2">
                            <ion-img class="max smaller" [src]=user?.photoURL></ion-img>
                        </ion-col>
                        <ion-col size="7" offset="1" align-self-center class="ellipsis">
                            <h5>{{user?.nickName}}</h5>
                            <p style="color: #02020294;">{{user?.email}}</p>
                        </ion-col>
                        <ion-col size="2" align-self-center>
                            <ion-button (click)="confirmSend(i)" class="addbutton" icon-only>
                                <ion-icon name="add"></ion-icon>
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-label>
        </ion-item>
        <ion-item class="listlabel" *ngIf="data?.users?.length < 1 && searchTrue">
            <ion-label>No users found</ion-label>
        </ion-item>
    </ion-list>
</ion-header>
<ion-content padding class="background">
    <ion-fab *ngIf="!inputTrue" vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button *ngIf="mentor" (click)="presentFriendlist()" class="fabButton" color="primary"><ion-icon name="contacts"></ion-icon></ion-fab-button>
            <div *ngIf="!mentor">
        <ion-fab-button>
            <ion-icon name="arrow-dropleft"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="start">
        <ion-fab-button (click)="presentModal()" class="fabButton" color="primary" ><ion-icon name="add"></ion-icon></ion-fab-button>
        <ion-fab-button (click)="presentFriendlist()" class="fabButton" color="primary"><ion-icon name="contacts"></ion-icon></ion-fab-button>
        <ion-button  id="createCV" *ngIf="selection && !cvExists" (click)="skillSelection(); showHomeCards()">Create CV</ion-button>
        <ion-button  id="createCV" *ngIf="selection && cvExists" (click)="skillSelection(); showHomeCards()">Edit CV</ion-button>
       <div *ngFor="let CV of CVs | async; let i = index" >
        <ion-button  id="CVs" *ngIf="!cvTrue" (click)="presentCV(CV.id)">Your CV</ion-button>
       </div>
        <ion-button  id="CVs" *ngIf="cvTrue"  (click)="hideCVs()">Skill List</ion-button>
    </ion-fab-list>
</div>
    </ion-fab>
    <div *ngIf="!mentor">
        
        <ion-list class="cvlist" id="certificatelist" [@slideInOut]="selection">
                <ion-card class="cvListCard">
                        <ion-fab horizontal="end" class="exit">
                                <ion-button id="createCV" *ngIf="selection && !cvExists" (click)="skillSelection(); showHomeCards()"><ion-icon name="arrow-round-back"></ion-icon></ion-button>
                                <ion-button id="createCV" *ngIf="selection && cvExists" (click)="skillSelection(); showHomeCards()"><ion-icon name="arrow-round-back"></ion-icon></ion-button>
                            </ion-fab>
            <h1>Pick skills for CV</h1>
            <ion-item id="clabel" *ngFor="let certificate of certificates | async;">
                <ion-checkbox (ionChange)="cvQueue(certificate.id)"></ion-checkbox>
                <h3 text-wrap>{{certificate.data.title}} </h3>
            </ion-item>
            <ion-item class="share">
                    <ion-label>Share with mentors</ion-label>
                    <ion-checkbox class="checkboxCV" (ionChange)="pickMentors()"></ion-checkbox>
                </ion-item>
                <ion-list id="mentorlist" [@slide]="identifier">
                    <ion-item id="listlabel" *ngFor="let mentor of data?.friendList; let i = index">
                        <ion-row align-self-center style="width: 100%;" *ngIf="mentor?.receiver">
                            <ion-col size="3" align-self-center>
                                <ion-checkbox *ngIf="mentor" (ionChange)="pickMentor(mentor?.receiver)"></ion-checkbox>
                            </ion-col>
                            <ion-col size="2" align-self-center>
                                <ion-img class="max smaller" [src]=mentor?.receiverPhotoURL></ion-img>
                            </ion-col>
                            <ion-col size="5" align-self-center>
                                <ion-label>{{mentor?.receiverNickname}}</ion-label>
                            </ion-col>
                        </ion-row>
                        <ion-row align-self-center style="width: 100%;" *ngIf="mentor?.sender">
                            <ion-col size="3" align-self-center>
                                <ion-checkbox *ngIf="mentor" (ionChange)="pickMentor(mentor?.sender)"></ion-checkbox>
                            </ion-col>
                            <ion-col size="2" align-self-center>
                                <ion-img class="max smaller" [src]=mentor?.senderPhotoURL></ion-img>
                            </ion-col>
                            <ion-col size="5" align-self-center>
                                <ion-label>{{mentor?.senderNickname}}</ion-label>
                            </ion-col>
                        </ion-row>
                        <div *ngIf="data?.friendList.length < 1">
                            <p>No mentors found</p>
                        </div>
                    </ion-item>
                </ion-list>
            <ion-button (click)="goToCV(); showHomeCards()">Generate your CV</ion-button>
            <div *ngIf="certificates?.length < 1">
                <p>Don't you have skills? Go figure some out!</p>
            </div>
        </ion-card>
        </ion-list>
        <ul id="skillList" class="inline" *ngIf="!query">
            <li *ngFor="let certificate of certificates | async; let i = index" (click)="presentCertificate(certificate.id)">
                <ion-card class="white" *ngIf="showCards">
                    <div>
                        <ion-row>
                            <ion-col size="5" >
                                <ion-img id="boxshadow" *ngIf="certificate?.data?.downloadURLs?.length > 0" class="max" [src]="certificate.data.downloadURLs[0]"></ion-img>
                                <ion-img *ngIf="certificate?.data?.downloadURLs?.length === 0" class="max" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJ5QmGRzyrHW2Da0NAkXA3BDsrJkQKUh3KCqcKDbgt6vHAEfdmrQ"></ion-img>
                                
                            </ion-col>
                            <ion-col class="cerText" size="7" align-self-center>
                                <ion-text>
                                    <h4 class="textHeader" style="text-transform: none">{{certificate.data.title}} </h4>
                                </ion-text>
                                <div class="rating">
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                </div>
                                <ion-text>
                                    <h5 style="color: #d8e1ff; font-size: 14px; margin-left: 10px;"> {{ certificate?.data?.date?.toDate() | date:'longDate'}}</h5>
                                </ion-text>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card>
            </li>
        </ul>
        <ul id="cvList" class="inline" *ngIf="!query" style="display: none">
            <li *ngFor="let CV of CVs | async; let i = index" (click)="presentCV(CV.id)">
                <ion-card class="white">
                    <ion-card-header class="cardHeader">
                        <ion-card-title>
                            <ion-text>
                                <h1>{{CV.data.date}} </h1>
                            </ion-text>
                        </ion-card-title>
                    </ion-card-header>
                    <ion-row>
                        <ion-col size="4">
                            <ion-fab-button>CV</ion-fab-button>
                        </ion-col>
                        <ion-col class="cerText" size="8">
                            <ion-text>
                                <h1 class="text">{{CV.data.owner}} </h1>
                            </ion-text>
                        </ion-col>
                    </ion-row>
                </ion-card>
            </li>
        </ul>
    </div>
    <div *ngIf="mentor">
        <ion-header>
            <h1>Current Clients</h1>
        </ion-header>
        <ul class="inline" *ngIf="!query">
            <li *ngFor="let friend of data.friendList let i = index" (click)="presentClient(i)">
                <ion-card class="white">
                    <div>
                        <ion-row>
                            <ion-col size="5" >
                                <ion-img *ngIf="friend.senderPhotoURL" id="boxshadow" class="max" [src]="friend.senderPhotoURL"></ion-img>
                                <ion-img *ngIf="friend.receiverPhotoURL" id="boxshadow2" class="max" [src]="friend.receiverPhotoURL"></ion-img>
                           
                            </ion-col>
                            <ion-col class="cerText" size="7" align-self-center>
                                <ion-text>
                                    <h4 class="textHeader" style="text-transform: none">{{friend.receiverNickname}} </h4>
                                    <h4 class="textHeader" style="text-transform: none">{{friend.senderNickname}} </h4>
                                </ion-text>
                                <ion-text>
                                    <h5 style="color: #d8e1ff; font-size: 14px; margin-left: 10px;"> {{ friend.receiverEmail}}</h5>
                                    <h5 style="color: #d8e1ff; font-size: 14px; margin-left: 10px;"> {{ friend.senderEmail}}</h5>
                                </ion-text>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card>
            </li>
        </ul>
    </div>
</ion-content>