* {
  list-style: none;
}
.cardHeader{
  margin-top: -35px;
  margin-bottom: -25px;
  top: 50%;
}
.inline{
  padding-inline-start: 0px !important;
  text-align: center;
}
.row{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 100%;
  height: 100%;
}
.ion-card-subtitle{
  display: flex !important;
  justify-content: space-evenly !important;
  align-items: center !important;
  width: 100%;
  height: 100%;
}
.background{
  --ion-background-color: #379fff;
  z-index: 1;
}
.white{
  background: white !important;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}
.max{
  //max-height:300px;
  overflow: hidden;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: left;
  object-fit: cover;
  margin: 10%;
}
.smaller{
  width: 40px;
  height: 40px;
  --padding-start: 4px;
}
.addbutton{
  font-size: 12px;
}
.ellipsis{
  text-overflow: ellipsis !important;
}
h4{
  color: #379fff;
}

.cerText{
  text-align: left;
}

.item{

  z-index: 10000 !important;
  overflow: visible;
  background: var(--ion-color-light);
}
.uppercase {
  margin: 10px;

  text-transform: capitalize !important;
}
.stay {

  overflow: visible;
  background: var(--ion-color-light);
}
.text{
  font-size: 135%;
  margin-top: -0px;
  color: black;
  float: left;
  margin-left: 25px;
}
#listhost, #createCV{
  position: relative;
  display: block;
}
#userlist{
  position: absolute;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: none;
  z-index: 2;
  max-height: 450px !important;
  overflow-y: auto !important;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#certificatelist{
  flex-wrap: wrap;
  background: none;
  z-index: 2;
  max-height: 450px !important;
  overflow-y: auto !important;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.listlabel {
  background-color: whitesmoke;
  width: 325px;
  white-space: normal;
}
#listlabel, #clabel {
background-color: whitesmoke;
width: 325px;
}
.scroll-bar-indicator
{
  display: none;
}