* {
  list-style: none;
}
#cardHeader{
  margin-top: -35px;
  margin-bottom: -25px;
  top: 50%;
}
.inline{
  padding-inline-start: 0px !important;
  text-align: center;
}
.row{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 100%;
  height: 100%;
}
.ion-card-subtitle{
  display: flex !important;
  justify-content: space-evenly !important;
  align-items: center !important;
  width: 100%;
  height: 100%;
}
.background{
  --ion-background-color: #379fff;
  z-index: 1;
}
.white{
  background: white !important;
}
.max{
  //max-height:300px;
  overflow: hidden;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: left;
  object-fit: cover;
  margin: 5%;
}
.item{

  z-index: 10000 !important;
  overflow: visible;
  background: var(--ion-color-light);
}
.uppercase {
  margin: 10px;

  text-transform: capitalize !important;
}
.stay {

  overflow: visible;
  background: var(--ion-color-light);
}
.text{
  font-size: 135%;
  margin-top: -0px;
  color: black;
  float: left;
  margin-left: 25px;
}
#listhost{
  position: relative;
  display: block;
}
#userlist {
  position: absolute;
  z-index: 2;
}
#listlabel {
background-color: whitesmoke;
width: 325px;
}