
$red: #CD5C5C;
$green: #32CD32;
$dark: #379fff;

* {
  list-style: none;
  //font-family: 'Rubik', sans-serif;
  font-family: 'Work Sans', sans-serif;
}


.cardHeader{
  margin-top: -35px;
  margin-bottom: -25px;
  top: 50%;
}

.logbox{
  background-color: $red;
  border-radius: 4px;

}
.inline{
  padding-inline-start: 0px !important;
  text-align: center;
}
.row{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 100%;
  height: 100%;
}
.ion-card-subtitle{
  display: flex !important;
  justify-content: space-evenly !important;
  align-items: center !important;
  width: 100%;
  height: 100%;
}
.background{
  --ion-background-color: #196296;
  z-index: 0;
}
.ion-content{
  --padding-top: 0px;
}
.white{
  background: #33a6d4;
  color: #000000;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

.sc-ion-card-ios-h {
 margin: 10px 10px;
  background: #c8edffc9;
}
#boxshadow, #boxshadow2{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.searchbox{
  width: 100%;
}
.max{
  //max-height:300px;
  overflow: hidden;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: left;
  object-fit: cover;
  margin: 10%;
}
.smaller{
  width: 40px;
  height: 40px;
  --padding-start: 4px;
}
.addbutton{
  font-size: 12px;
}
.ellipsis{
  text-overflow: ellipsis !important;
}
h4{
  color: #379fff;
}

.cerText{
  text-align: left;
}

.item{

  z-index: 10000 !important;
  overflow: visible;
  background: var(--ion-color-light);
}
.stay {

  overflow: visible;
  background: var(--ion-color-light);
}
.textHeader{
  font-size: 120%;
  margin-top: 5px;
  color: #ffffff;
  margin-left: 10px;
  text-transform: uppercase; 
}

.textDesc{
  margin-top: 0px;
  font-size: 100%;
  margin-left: 10px;
  opacity: 50%;
}

.rating{
  color: #ffffff;
  margin-left: 10px;
  font-size: 120%;
  opacity: 50%;
}

#listhost, #createCV{
  position: relative;
  display: block;
}
#userlist{
  position: absolute;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: none;
  z-index: 3;
  max-height: 450px !important;
  overflow-y: auto !important;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#certificatelist{
  flex-wrap: wrap;
  background: none;
  z-index: 2;
  max-height: 95%;
  overflow-y: auto !important;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  position: fixed;
  max-width: 326px;
  min-width: 326px;
  justify-content: center;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-top:-15px;
  margin-bottom:15px;
}
.listlabel {
  background-color: whitesmoke;
  width: 325px;
  white-space: normal;
}
#listlabel, #clabel {
background-color: whitesmoke;
width: 325px;
}
.scroll-bar-indicator
{
  display: none;
}


#listlabel{
  background: #33a6d4;
  color: white;
  z-index: 500;
}

.cvListCard{
  background:#0CD1E8;
}
.exit{
  position:fixed;
}
#mentorlist{
  justify-content: center;
  flex-wrap: wrap;
  background: none;
  max-height: 450px !important;
  overflow-y: auto !important;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}