<ion-header>
    <ion-toolbar color="secondary">
        <ion-title>Register</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid class="grid">
        <ion-col>

            <ion-item>
                <ion-label position="floating">Nimi</ion-label>
                <ion-input type="text" [(ngModel)]="user.nickName"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Sähköposti</ion-label>
                <ion-input type="text" [(ngModel)]="user.email"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Salasana</ion-label>
                <ion-input type="password" [(ngModel)]="user.password"></ion-input>
            </ion-item>

            <ion-button expand="full" style="margin-top: 25px;" (click)="register(user)">Register</ion-button>
            <ion-button expand="full" (click)="goBack()">Back</ion-button>
            <ion-card *ngIf="message" position="floating" color="secondary">
                <ion-card-header class="error">{{message}}</ion-card-header>
            </ion-card>
        </ion-col>
    </ion-grid>
</ion-content>